*{
  margin: 0;
  padding: 0;
}
body{
  color:#603809;
  
}
.p1header{
  display: flex;
  padding: 20px;
  align-items: center;
  
}
.p1header h1{
  white-space: nowrap;
  margin-left: 50px;
}
ul{
  display: flex;
  list-style: none;
  padding-left: 240px;

}
ul li{
  padding: 0px 20px;
}
.p1header p{
  padding-left:230px;
}
.p1header button{
  display: flex;
  margin-left: 20px;
}

.page1{
  background-image: url(../NguyenLeHoaiNam_2023603079/img/coffee_image.png) ;
  
  width: 100%;
  height: 640px;
  color: white;

}

.page1 button{
  background-color: rgb(246, 185, 73);
  color: black;
  border-radius: 25px;
  padding: 12px;
  width: 82px;
  border: none;
  justify-content: center;
}
.page1 button:hover{
  background-color: rgb(235, 168, 43);
}
.p1info{
  max-width: 40%;
  padding-left: 70px;
  padding-top: 50px;
}
.p1info p{
  padding: 50px 0;
}
.p1info h1{
  padding: 50px 0;
}
.p1info button{
  background-color: rgb(235, 181, 80);
  color: black;
  border-radius: 25px;
  width: 100px;
  justify-content: center;
  margin-top: -70px;
}
.p1info button:hover{
  background-color: rgb(235, 168, 43);
}
.page2{
  display: flex;
}
.p2left{
  max-width: 40%;
  padding: 90px 100px 0px 50px;
}
.p2left button{
  background-color: rgb(235, 181, 80);
  color: black;
  border-radius: 25px;
  border: none;
  width: 100px;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}
.p2left button:hover{
  background-color: rgb(235, 168, 43);
}
.p2left h3{
  font-size: 50px;
  padding-bottom: 20px;
}
.p2left p{
  line-height: 25px;
  color: rgb(100, 98, 98);
}

.trum1{
  transform: translateY(-190px);
}

.page3{
  text-align: center;
  transform: translateY(-200px);
}
.page3text h1{
  font-size: 50px;
  padding-bottom: 10px;
}
.page3text  p{
  font-size: 16px;
  padding-bottom: 10px;
  color: rgb(117, 114, 114);
}
.page3card{
  display: flex;
  padding: 20px;
  justify-content: center;
}
.p3card{
  
  background-color: rgb(235, 207, 212);
  border: solid 2px rgb(208, 158, 158);
}
.p3card h5{
  font-size: 20px;
  padding: 10px;
}
.p3card p{
  color: #201303;
  padding: 10px;
}
.p3card h6{
  font-size: 22px;
  padding: 5px;
}
.p3card button{
  background-color: rgb(235, 181, 80);
  color: black;
  border-radius: 25px;
  width: 100px;
  justify-content: center;
  border: none;
  padding: 12px;
  transform: translateY(20px);
}
.p3card button:hover{
  background-color: rgb(235, 168, 43);
}
.trum2{
  margin-top: -250px;
  transform: rotateY(180deg);
  
}

.page4{
  text-align: center;
  transform: translateY(-100px);
}
.page4text1 h1{
  font-size: 50px;
  padding: 20px;
}
.page4card{
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.p4card1{
  padding: 20px;
  background-color: rgb(249, 209, 216);
  border: solid 2px rgb(243, 185, 195);
}
.page4text2 p{
  padding-top: 20px;
  color: rgb(89, 88, 88);
}
.page4text2 h4{
  font-size: 30px;
  padding: 12px;
}
.page4text2 button{
  background-color: rgb(235, 181, 80);
  color: black;
  border-radius: 25px;
  width: 100px;
  justify-content: center;
  padding: 12px;
  border: none;
}
.page4text2 button:hover{
  background-color: rgb(235, 168, 43);
}
.page5{
  padding: 50px;
  color: white;
  transform: translateY(-50px);
  display: flex;
  background-image: url(../NguyenLeHoaiNam_2023603079/img/content3.png);
  background-repeat: no-repeat;
}
.p5left{
  padding: 20px;
  max-width: 40%;
  padding-right: 300px;
}
.p5left p{
  padding: 30px 0;
}
.p5left button{
  background-color: rgb(235, 181, 80);
  color: black;
  border-radius: 25px;
  width: 100px;
  justify-content: center;
  padding: 12px;
  border: none;
}
.p5left button:hover{
  background-color: rgb(235, 168, 43);
}
.trum3{
  transform: rotateY(180deg);
  margin-top: -140px;
}
.trum4{
  transform: rotateX(180deg);
  margin-top: -200px;
}
.page6{
  transform: translateY(-100px);
  text-align: center;
}
.p6boder{
  background-color: rgb(242, 222, 225);
  margin: 0 100px;
  padding: 20px;
  border: solid 2px rgb(235, 160, 172);
  
}
.p6boder p{
  white-space: 25px;
  color: rgb(69, 66, 66);
}
.p7text1{
  background-image: url(../NguyenLeHoaiNam_2023603079/img/content3.png);
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 50px;
  height: 300px;
}
.p7text1 h1{
  font-size: 40px;
}
.p7text1 p{
  padding: 20px;
} 

input{
  width: 400px;
  padding: 12px;
}
.p7email button{
  margin: -5px;
  background-color: rgb(239, 183, 78);
  padding: 12px;
  border: none;
}
.p7cup img:nth-child(1){
  transform: translateX(-440px);
  
}
.p7text2{
  transform: translateY(140px);
  background-image: url(../NguyenLeHoaiNam_2023603079/img/coffee_bean.png);
  background-repeat: no-repeat;
  width:100%;
  display: flex;
}
.colum1{
  max-width: 30%;
  padding: 50px;
}
.icon{
  display: flex;
}
.colum2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 50px;
}
.colum2 p{
  padding: 5px 0;
}

