* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
body{
  background: linear-gradient(to bottom, #DEB4D8,#DFB5D7 );
  font-family: Arial, Helvetica, sans-serif;
}
.the{
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  background: #DEBEDF;
  justify-content: center;
  margin-top: 100px;
  width: 300px;
  height: 400px;
  transition: 0.3s;
  box-shadow: 0 0 15px 8px #c5a8c5;

}
.the:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 15px 8px rgba(148, 125, 137, 0.6);
}
.the img{
  margin: 20px auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 4px;
  background-color: rgb(238, 234, 234);
  transition: 0.3s;
}

.the img:hover{
  transform: scale(1.09);
}
.text{
  text-align: center;
}
.text h2, h4, p{
  margin-top: 20px;
}

.text h2{
  color: rgb(197, 47, 47);
}
.text h4{
  color: blueviolet;
}
.text p{
  color: rgb(133, 130, 130);
}
.thenho{
  
  padding:  10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thenho1, .thenho2, .thenho3{
  padding: 7px;
  background-color: #efd4f0;
  margin: 10px 20px;
  border-radius: 50%;
}

.thenho1:hover, .thenho2:hover, .thenho3:hover{
  background-color: white;
  color: blue;
}